<!DOCTYPE html>
<html>
    <head>
    <script>
        function show(a){
            document.getElementById("c1").style.display="none";
            document.getElementById("c2").style.display="none";
            document.getElementById("c3").style.display="none";
            document.getElementById(a).style.display="block";
           }
    </script>

    </head>
    <body>
        <table border="1" width="400" align="center">
            <tr>
                <td><a href="javascript:show('c1')">BMX</a></td>
                <td><a href="javascript:show('c2')">Track Bike</a></td>
                <td><a href="javascript:show('c3')">Folding Bike</a></td>
            </tr>
        </table>
        <div id="c1" style="display:None">
            <img width="300" align="center" src="BMX.jpg">
        </div>

        <div id="c2" style="display:None">
            <img width="300" align="center" src="Track Bike.jpg">
        </div>

        <div id="c3" style="display:None">
            <img width="300" align="center" src="Folding Bike.jpg">
        </div>
    </body>
</html>